<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="jumbotron jumbotron_style">
        <h1>Welcome to our Lifestyle store!</h1>
        <p> We have the best products for you. No need to hunt it around, we have all in one
            place.
        </p>
    </div>



    <div class="thumbnail">
        <img src="assets/images/Apple-iphone-12-Pro.jpg" class="center" alt="Apple iPhone 12 Pro">
        <div class="caption" class="text-center">
            <h4> Product Name : iPhone 12 Pro </h4>
            <h4> Product Details: Apple New iPhone 12 Pro Max (128GB) - Graphite Black </h4>
            <h4>Cost : ₹ 70,000 </h4>

            <table width="100%" class="bg-light">
                <tbody>
                    <tr bgcolor="#052F5F">
                        <td style="text-align: center; width: 97%;" colspan="2">
                            <h5><span style="color: #ffffff;"><strong> Bank Credit Card
                                        Eligibility</strong></span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 49.9983%;">Age</td>
                        <td style="width: 47.0017%;">Minimum- 21 years, Maximum- 60 years</td>
                    </tr>
                    <tr bgcolor="#f2f2f2">
                        <td style="width: 49.9983%;">Minimum Income Required</td>
                        <td style="width: 47.0017%;">Rs. 15,001* p.m. onwards</td>
                    </tr>
                    <tr>
                        <td style="width: 49.9983%;">Occupation</td>
                        <td style="width: 47.0017%;">Salaried/Self-employed</td>
                    </tr>
                    <tr bgcolor="#f2f2f2">
                        <td style="width: 49.9983%;">Nationality</td>
                        <td style="width: 47.0017%;">Resident Indian</td>
                    </tr>
                    <tr style="background-color: #ffffff;" bgcolor="#f2f2f2"> </tr>
            </table>

            <!-- <button class="add-to-cart" (click)="ClikedOnAddToCart()">Add to Cart</button> -->
            <br/>
            <a  class="btn btn-primary btn-sm" [routerLink]="['/login']" > Buy
                Now </a>
                <br/>
                <br/>
        </div>

    </div>