<app-nav-bar></app-nav-bar>
<div class="container">

    <h1 style="text-align: center;">
        Terms and Conditions of EMI
    </h1>
    <h4 >
        The following terms and conditions apply to no cost equated monthly installment ("EMI") transactions made using an eligible credit card issued by our system and using EMI facility as a payment option ("No Cost EMI") 
    <br/>
    <br/>
    <ul >
        <li>
            The No Cost EMI facility is being offered to the customers who make a purchase transaction on the Lifestyle store site thereof using an eligible credit card and using EMI facility; if available on Lifestyle store.
        </li>
        <li>
            The No Cost EMI payment option can be availed using the credit card  and is not available on purchases made using net banking or pay on delivery payment methods.
        </li>
        <li>
            Customers may avail the No Cost EMI facility, provided that:<br/>
1. the order is not cancelled by the customer or the participating sellers or Lifestyle store; or <br/>
2. the product is not returned / exchanged by the customer.
        </li>
        <li>
            Using the No Cost EMI payment option, the customers who undertake the purchase transactions on Lifestyle store, will only pay amounts such that the total of these amounts during the EMI tenure is equal to the list price of the products as displayed (at the time of making the purchase transactions). The participating sellers or brands (as the case may be) will provide amounts equivalent to the interest imposed by the banks to undertake the purchase transactions on EMI.
        </li>
        <li>
            The banks issuing the credit cards reserve the right to charge Goods and Services Tax (GST) or other applicable taxes on the purchase transactions undertaken on EMI which will be over and above the product price.
        </li>
        <li>
            Lifestyle store reserves the right to stop No Cost EMI payment option at any time without prior notice and without any liability
        </li>
    </ul>
    </h4>
</div>