<main>
    <div class="container"></div>
    <div class="jumbotron jumbotron_style , text-center">
        <h3> Product Details for {{productdata.ProductName}} </h3>

    </div>

    <div class="padding-20"></div>
    <!-- <div class="row text-center">
            <div class="col-md-3 col-sm-6"> -->

    <div class="thumbnail">
        <img src="{{'assets/images/' + productdata.ImageName}}" alt="Apple iPhone 12 Pro">
        <div class="caption" class="text-center">
            <h1>{{productdata.ProductName}} </h1>
            <p><b>Cost :{{productdata.Price | currency:'₹' }}</b></p>
            <!-- <div *ngIf="productdata.stock > 10">Render content when condition is true.</div> -->
            <p>Product details :
                {{productdata.ProductDetails}}</p>
                <br/>
                <br/>

            <div>
                
                <h5><span>EMI OPTIONS </span></h5>
                <select (change)="selectChangeHandler($event)"   [(ngModel)]='finance.Months'>
                    <option value="none" selected  >Select</option>
                    <option value="3">3 MONTHS </option>
                    
                    <option value="6">6 MONTHS</option>
                    <option value="9">9 MONTHS</option>
                    <option value="12">12 MONTHS</option>
                   
                </select>
            <br/>
           <br/>
                <p><span> EMI Starting : </span><b> ₹{{selectedEmi | number}} pm</b></p>
            </div>

           <button class="btn btn-primary" (click)="onBuy()">Buy Now</button>

        </div>

    </div>





    <div class="padding-20"></div>

</main>